@font-face {
    font-family: 'Minotaur';
    src: url('fonts/Minotaur-Phatte.eot');
    src: url('fonts/Minotaur-Phatte.eot?#iefix') format('embedded-opentype'),
        url('fonts/Minotaur-Phatte.woff2') format('woff2'),
        url('fonts/Minotaur-Phatte.woff') format('woff'),
        url('fonts/Minotaur-Phatte.ttf') format('truetype'),
        url('fonts/Minotaur-Phatte.svg#Minotaur-Phatte') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Bold.woff2') format('woff2'),
        url('fonts/Raleway-Bold.woff') format('woff'),
        url('fonts/Raleway-Bold.ttf') format('truetype'),
        url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Italic.eot');
    src: url('fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Italic.woff2') format('woff2'),
        url('fonts/Raleway-Italic.woff') format('woff'),
        url('fonts/Raleway-Italic.ttf') format('truetype'),
        url('fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype'),
        url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.eot');
    src: url('fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Rubik-Regular.woff2') format('woff2'),
        url('fonts/Rubik-Regular.woff') format('woff'),
        url('fonts/Rubik-Regular.ttf') format('truetype'),
        url('fonts/Rubik-Regular.svg#Rubik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Bold.eot');
    src: url('fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Rubik-Bold.woff2') format('woff2'),
        url('fonts/Rubik-Bold.woff') format('woff'),
        url('fonts/Rubik-Bold.ttf') format('truetype'),
        url('fonts/Rubik-Bold.svg#Rubik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Arial', 'san-serif';
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

header, footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #bfbabc;
}

header {
    position: fixed;
    height: clamp(50px, 12vh, 500px);
}

.contentWraper {
    display: flex;
    justify-content: flex-start;
}

header img, footer img {
    object-fit: contain;
    max-width: 100px;
}

header h1 {
    font-size: clamp(40px, 8vh, 90px);
    align-self: center;
}

.title {
    font-family: 'Minotaur', 'Courier', 'Arial', 'san-serif';
}

nav {
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 3vmin;
}

nav a {
    font-weight: 500;
    font-size: clamp(20px, 3vh, 70px);
    padding: 2.5vmin;
}

nav a:hover {
    text-shadow: 3px 3px 5px #000 ;
}

.folded {
    display: none;
    position: fixed;
    border: 1px black solid;
    border-radius: 5px;
    background-color: #bfbabc;
    margin: 2vmin;
    padding: 5px 0;
}

li:hover .folded {
    display: flex;
    flex-direction: column;
}

.folded li {
    padding: 8px 3px;
}

.folded a {
    font-size: 1em;
    font-weight: normal;
}

.ranking {
    color: #8b8988;
}

.ranking:hover {
    text-shadow: 3px 3px 5px #8b8988;
}

footer {
    height: clamp(125px, 15%, 500px);
}

footer ul {
    min-width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a:hover {
    opacity: 0.5;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

.address {
    padding: 1vmin 10vmin;
    text-align: center;
}
.contact h1 {
    font-size: clamp(40px, 6vmin, 100px);
}

.contact p {
    padding: 2vmin;
    font-style: normal;
    align-self: center;
    font-size: 1.2em;
    line-height: 1.5em;
}

main {
    padding-top: clamp(50px, 12vh, 500px);
    background-color: #faf2e7;
}

.intro {
    background-image: url('img/cellar.jpg');
    background-size: cover;
    color: #eae0df;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.intro h1 {
    font-size: clamp(80px, 15vh, 500px);
    padding: 6vh 0 0 0;
}

.intro h2 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: clamp(40px, 6vh, 300px);
    padding: 6vh 0 6vh 0;
}

.intro h3 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: clamp(40px, 6vh, 300px);
    padding: 6vh 0 6vh 0;
    font-weight: normal;
}

.presentation {
    text-align: center;
    padding: 6vh 12vw;
}

.presentation p, .presentation li {
    margin: 20px 0;
    font-size: 1.4em;
    line-height: 1.7em;
}

.presentation .title {
    font-size: 1.4em;
    padding-left: 4px;
}

#escape {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
}

#escape img {
    object-fit: contain;
    padding-right: 5vw;
}

#escape h3 {
    font-size: 2em;
    padding-bottom: 3vh;
}


#escape li {
    font-size: 1.25em;
}

#escape strong {
    font-family: 'Minotaur', 'Courier', 'Arial', 'san-serif';
    font-size: 1.4em;
}

.current {
    color:red;
}

.first {
    color: gold;
}

.second {
    color: grey;
}

.third {
    color: brown;
}


@media screen and (max-width: 1000px) {
    header {
        height: clamp(120px, 12%, 500px);
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    header img {
        max-height: 60px;
    }

    footer {
        flex-direction: column;
        height: clamp(250px, 15%, 500px);
    }
    
    footer ul {
        margin: 10px;
        justify-content: center;
    }
    .contact img {
        display: none;
    }

    main {
        padding-top: 0;
    }

    .intro h1 {
        font-size: clamp(50px, 10vh, 250px);
        padding: 4vh 0 0 0;
    }

    .intro h2, .intro h3 {
        font-size: clamp(20px, 4vh, 1000px);
        padding: 4vh 0 2vh 0;
    }

    #escape {
        flex-direction: column;
        padding-top: 0;
    }

    #escape img {
        height: 50vh;
        width: 50 vw;
        padding-bottom: 3vh;
    }
}